		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
				  <ul class="icons">
				    <li><a href="{{ site.baseurl }}/feed.xml" class="icon fa-rss"><span class="label">Feed</span></a></li>
				    {% if site.twitter_username %}
				    <li><a href="https://twitter/{{ site.twitter_username }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				    {% endif %}
				    {% if site.github_username %}
				    <li><a href="https://github.com/{{ site.github_username }}" class="icon fa-github"><span class="label">Github</span></a></li>
				    {% endif %}
				    {% if site.dribble_username %}
				    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
				    {% endif %}
				    {% if site.email %}
				    <li><a href="mailto:{{ site.email }}" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				    {% endif %}
					</ul>
				  <ul class="copyright">
				    {% if site.author %}
				    <li>&copy; {{ site.author }}</li>
				    {% endif %}
				    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>
